{% load thumbnail sekizai_tags %}

{% addtoblock "css" %}<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cmsplugin_gallery/css/jquery.lightbox-0.5.css" media="screen" />{% endaddtoblock %}
{% addtoblock "js" %}<script type="text/javascript" src="{{ STATIC_URL }}cmsplugin_gallery/js/jquery.lightbox-0.5.js"></script>{% endaddtoblock %}

{% addtoblock "js" %}
	<script type="text/javascript">
		$(function() {
		    $('#gallery a').lightBox();
		});
	</script>
{% endaddtoblock %}

{% addtoblock "css" %}
	<style type="text/css">
		/* jQuery lightBox plugin - Gallery style */
		#gallery { background-color: #fff; padding-top: 10px; }
		#gallery ul { list-style: none; margin:0px; }
		#gallery ul li { display: inline; float: left; }
		#gallery ul img { margin:5px; }
		#gallery ul a:hover img { margin: 5px; color: #fff;	}
		#gallery ul a:hover { color: #fff; }
	</style>
{% endaddtoblock %}

<div id="gallery" class="span3">
    <ul>
    {% for image in images %}
		<li>
            <a href="{{ image.src.url }}">
                <img src="{% thumbnail image.src 65x65 %}" alt="{{ image.alt }}" />
            </a>
		</li>
	{% endfor %}
    </ul>
</div>