{% load i18n sekizai_tags%}

{% addtoblock "js" %}
  <script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?v=3&sensor=true"></script>
{% endaddtoblock %}

{% if form %}
	<form class="form-horizontal" action="." method="post">
		<!-- Name -->
	    <div class="control-group">
	    	{% if form.name.errors %}<p class="error"></p>{% endif %}
	        <label class="control-label" for="name">{{ contact.name_label }}</label>
	        <div class="controls">
				{{ form.name }}
				{% if form.name.errors %}
					{% for error in form.name.errors %}
						<span class="error_msg">{{ error }}</span>
					{% endfor %}
				{% endif %}
	        </div>
	    </div>
		<!-- Email -->
	    <div class="control-group">
	    	{% if form.email.errors %}<p class="error"></p>{% endif %}
	        <label class="control-label" for="email">{{ contact.email_label }}</label>
	        <div class="controls">
				{{ form.email }}
				{% if form.email.errors %}
					{% for error in form.email.errors %}
						<span class="error_msg">{{ error }}</span>
					{% endfor %}
				{% endif %}
	        </div>
	    </div>
	    <!-- Mobile -->
	    <div class="control-group">
	    	{% if form.mobile.errors %}<p class="error"></p>{% endif %}
	        <label class="control-label" for="mobile">{{ contact.mobile_label }}</label>
	        <div class="controls">
				{{ form.mobile }}
				{% if form.mobile.errors %}
					{% for error in form.mobile.errors %}
						<span class="error_msg">{{ error }}</span>
					{% endfor %}
				{% endif %}
	        </div>
	    </div>
	    <!-- Subject -->
	    <div class="control-group">
	    	{% if form.subject.errors %}<p class="error"></p>{% endif %}
	        <label class="control-label" for="subject">{{ contact.subject_label }}</label>
	        <div class="controls">
				{{ form.subject }}
				{% if form.subject.errors %}
					{% for error in form.subject.errors %}
						<span class="error_msg">{{ error }}</span>
					{% endfor %}
				{% endif %}
	        </div>
	    </div>
	    <!-- Message -->
	    <div class="control-group">
	    	{% if form.content.errors %}<p class="error"></p>{% endif %}
	        <label class="control-label" for="content">{{ contact.content_label }}</label>
	        <div class="controls">
				{{ form.content }}
				{% if form.content.errors %}
					{% for error in form.content.errors %}
						<span class="error_msg">{{ error }}</span>
					{% endfor %}
				{% endif %}
	        </div>
	    </div>

	    <!-- Buttons -->
	    <div class="control-group">
			<div class="controls">
				<input class="button btn" type="submit" {% if contact.submit %} value="{{ contact.submit }}"{% endif %} />
				<input class="button btn" type="reset" {% if contact.reset %} value="{{ contact.reset }}"{% endif %} />
			</div>
		</div>
		{% csrf_token %}
	</form>
{% else %}
	{{ contact.thanks|safe }}
{% endif %}
