@font-face {
	font-family: 'cartoon';
	src: url('Cartoon_Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body{
	background:url('/static/images/bg.jpg')  no-repeat fixed center;
	font-family: arial;
	font-size: 14px;
	background-size:100% 100%;
	color: #220F47;
}

a{
	color:#333;
	text-decoration:none;
	cursor:pointer;
}
p{
	text-align:justify;
	margin-bottom: 5px;
	color:#220f47;
}
h1{
	position: absolute;
	margin-left: 20px;
	margin-top: 5px;
	font-family: cartoon;
	font-size: 22px;
	color:#FFE800;
}
h2{
	position: absolute;
	margin-left: 20px;
	margin-top: 5px;
	font-family: cartoon;
	font-size: 18px;
	color:#FFE800;
}
h3{
	font-family: 'cartoon';
	font-size: 18px;
	color:#220f47;
}

/******************************************* Header **************************************/
.bg{
	background: #393678;
	width:100%;
	min-width: 1024px;
}
.bg td {
	padding: 10px 10px 10px 10px;
	font-weight: bold;
	font-size: 12px;
	color: #220F47;
}
.bg td a{
color: #220F47;
}
.bg td a:hover{
	color:#f10303;
}
.container{
	margin: 0 auto;
	width: 1024px;
	position: relative;
} 
#logo{
	float:left;
	margin-top: 15px;
}
#kidsarea{
	float:right;
	margin-top:20px;
}
#language{
	float:right;
	margin-right: 20px;
	margin-top:15px;
	color: #ffe800;
}
#language a{
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	padding-right: 1px;
	 color: #ffe800;
}
#language a:hover{
	color:#fff;
}
#login{
	position:absolute;
	margin-left: 284px;
	margin-top: 60px;
	color: #ffe800;
}
#login a{
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	padding-right: 1px;
	 color: #ffe800;
}
#login  a:hover{
	color:#fff;
}
/******************************************* End Header **************************************/
.banner{
	width:984px;
	height:250px;
	padding:0px 20px 10px 20px;
}
.section{
	padding: 0px 20px 1px 20px;
}
.section p{
	margin:10px;
}
.beeimg{
	position: absolute;
	width: 90px;
	margin-top: -63px;
}
.head{
	background: #393678;
	height: 35px;
}
#subscribe{
	text-align: center;
}
#subscribe input{
	width: 200px;
	font-size: 11px;
	margin-right: 3px;
	border: 1px solid #393678;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	height: 20px;
	background: #EEE;
	text-align: center;
	padding-left:5px;
	color:#666;
}
#subs{
	width: 90px;
	margin-top: 5px;
	cursor: pointer;
}
#subs:hover{
	opacity:0.8;
}
#download{
		text-align:center;
}
#download img{
	cursor: pointer;
}
#download img:hover{
	opacity:0.8;
}
#copyright{
	text-align: center;
	font-size: 11px;
	font-weight: bold;
	margin:0;
}
#social{
	font-size: 12px;
	color: #220F47;
	font-weight: bold;
	text-align: right;
	margin-right: 10px;
	padding-bottom: 5px;
}
/******************************************* Career Page **************************************/
#careermidsection{
	width:984px;
	padding-bottom: 30px;
	position: relative;
	margin-top: 55px;
}
#careermidsection form{
	margin-left: 20px;
}
#careermidsection table{
	margin-top: 10px;
}
#careermidsection th{
	text-align: right;
	padding-top: 10px;
	font-family: gothicb;
}
#careermidsection td{
	text-align: left;
	padding-top: 10px;
	padding-left: 10px;
}
.careerinput{
	width: 200px;
	height: 15px;
}
.careerselect{
	width: 200px;
	height: 15px;
}
.error {
color: red;
padding-left: 15px;
text-shadow: 1px 1px 1px black;
-moz-text-shadow: 1px 1px 1px black;
-webkit-text-shadow: 1px 1px 1px black;
}

/******************************************* End Career Page **************************************/
/******************************************* Contact Us Page **************************************/
#form-container{
	
}
label{
	font-family: arial;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}
.txtfld{
	width: 250px;
	height: 22px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #EEE;
	border: 1px solid #333;
	box-shadow: inset 0px 1px 8px #CCC;
	-moz-box-shadow: inset 0px 1px 8px #CCC;
	-webkit-box-shadow: inset 0px 1px 8px #CCC;
}
.emailfld{
	width: 250px;
	height: 22px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #EEE;
	border: 1px solid #333;
	box-shadow: inset 0px 1px 8px #CCC;
	-moz-box-shadow: inset 0px 1px 8px #CCC;
	-webkit-box-shadow: inset 0px 1px 8px #CCC;
}
#form-container select{
	width: 162px;
	height: 27px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #EEE;
	border: 1px solid #333;
	box-shadow: inset 0px 1px 8px #CCC;
	-moz-box-shadow: inset 0px 1px 8px #CCC;
	-webkit-box-shadow: inset 0px 1px 8px #CCC;
}
textarea{
	width: 250px;
	height: 115px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #EEE;
	border: 1px solid #333;
	box-shadow: inset 0px 1px 8px #CCC;
	-moz-box-shadow: inset 0px 1px 8px #CCC;
	-webkit-box-shadow: inset 0px 1px 8px #CCC;
}
.button{
	width: 63px;
	height: 23px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #EEE;
	border: 1px solid #333;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	color: #323945;
	cursor: pointer;
	font-size: 11px;
}
.button:hover{
	background: #ddd;
}

#contact-form td{
	text-align: left;
	padding-top:5px;
	padding-left: 10px;
}
#contact-form p{
	margin:0;
	}

/******************************************* End Contact Us Page **************************************/

/******************************************* Home Page **************************************/
#allinone_bannerWithPlaylist_elegant{
	width: 984px;
	height: 350px;
	borderColor:'#393678;
}