#next{
	width:70px;
	height:30px;
	float:left;
}
#prev{
	width:70px;
	height:30px;
	float:left;
}
.month{
	float: left;
	width:160px;
	height:40px;
	text-align: left;

}
#cal_controls{
	height:50px;

}
#calendar{
	width:1024px;
	height: auto;

}
.current{
	float: left;
	width: 150px;
	height:50px;
	font-weight: bold;


}
.current a{
	color:#F10303;

}
.cal_entry{
	font-style: italic;
	font-weight: bold;

}
.months{
	margin-left: 45px;
	margin-top: 20px;
	height:100px;
}
.day{
	width:140px;
	height:140px;
	cursor: pointer;
}
.current_day{
	background:rgba(51, 51, 51, 0.1);
	width:140px;
	height:140px;
	cursor: pointer;

}