@charset "utf-8";
/* CSS Document */

/*our custom style*/
@font-face {
	font-family: 'cartoon';
	src:url(../fonts/Cartoon_Regular.ttf)  format('truetype'); /* Safari, Android, iOS */
}
body{
	margin:auto;
	font-family: arial;
	font-size: 14px;
	line-height: 20px;
	color: #220f47;
	background-color: #ffffff;
	direction: rtl;
	text-align: right;
}
.container-fluid {
	padding-left: 20px;
	padding-right: 20px;
	*zoom: 1;
	max-width: 1024px;
	margin: auto;
}
#bodyBg { background-image:url(../img/bg.jpg); width: 100%;	margin-top: -24px; }

/*container*/
.container, .navbar-static-top .container,
.navbar-fixed-top .container, .navbar-fixed-bottom .container { width: 1024px; }

.bg{ background: #393678; width:100%; min-width: 1024px; }
#kidsarea{ float:left; }
.social{ display: inline; }
#logo { float: right; margin-top: 10px; margin-right:-90px; }
img{ display: block; margin-left: auto; margin-right: auto;}
p{ text-align: justify;	margin: 15px; color: #393678; }
#language { float: left; margin-right: 20px; margin-top: 15px; color: #FFE800; }
.header ,.header a{ font-weight: bold; font-size: 12px; cursor: pointer; padding-right: 1px; color: #ffe800; }
.header a:hover{ color: #fff; }	  

/*nav*/
.navbar .nav > li { float: right; }
.navbar .nav > li > a {
  float: none;
  padding: 0px 15px 0px 10px;
  color:#FFE800;
  text-decoration: none;
  font-family: cartoon;
  font-size: 16px;
  text-shadow:none;
}
.navbar .nav .dropdown-toggle .caret { margin-top: 8px; }
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover { color: #fff; text-decoration: none; background-color: transparent; }
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #fff;
  text-decoration: none;
  background-color:transparent;
  -webkit-box-shadow:none;
     -moz-box-shadow:none;
          box-shadow:none;
}
/*nav end*/

a{ cursor:pointer; }
h1, h2, h1 small, h2 small{
	font-family: cartoon; color: #FFE800; background: #393678;
	height: 30px; padding-top: 10px; vertical-align : top;
}
h2{ text-align:center; }
h2 small{ padding: 0px 45px; }
h4, h5{	text-align:center; font-weight:normal; }
h1 small{ font-size: 24px; padding: 0 25px; }
.row-fluid .span12 { width: 100%; margin-left: 0; }
.up60{ margin-top: 60px; }
.up60_play{	margin-top: 20px; }

/*footer*/
#footer  td{ padding: 10px; }
#footer  p{	text-align:center; font-size:12px; font-weight:bold; margin:0; }
#footer  a{	font-size:12px;	font-weight:bold; }
#footer  a:hover { color: #F10303; }
.form-inline{ margin: auto 357px 22px 0;}
#footer a{ color: #0088CC; }
/*end of footer*/

/*plan page*/
.nav-tabs > .active > a,
.nav-tabs > .active > a:hover {
  color: #FF3;
  cursor: default;
  background-color: #383578;
  border: 1px solid #383578;
  border-bottom-color: transparent;
  font-family: cartoon;
  font-size:16px;
}
.nav-tabs > li > a {
	color: #383578;
  	cursor: default;
  	background-color: #febf00;
  	border: 1px solid #febf00;
  	border-bottom-color: transparent;
 	font-family: cartoon;
  	font-size:16px;
}
.nav-tabs > li > a:hover {
	color: #ff3;
  	cursor: default;
  	background-color: #383578;
  	border: 1px solid #383578;
  	border-bottom-color: transparent;
 	font-family: cartoon;
  	font-size:16px;
}
.plan_main_img{ border:5px solid; border-color:#393678; margin-left:5px; margin-top:10px; width: 1004px; height: 232px; }
.play_main_img{ border:5px solid; border-color:#393678; margin-left:-3px; margin-top:10px; }
.offset3 { margin:20px 10px 40px 10px; width: auto; }
.font_style { font-family: cartoon; font-size:18px; color:#383578; }	
.titles {
	font-family:Arial, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	color: #383578;
}
/*end of plan page*/


/*play page*/
.play1_img{	margin-top:9px; }
.span3 { width: 270px; }
.playsmall_img{	margin-top:9px; } 
.plan_main_img .play_main_img img{ margin: 0; }
/*end of play page*/


/*contact us page*/
.slider_page7{ width:1024px; height:250px; margin:auto;	border-radius: 10px 10px 0 0; }
.con_size{ float:right; line-height: 9.2mm; margin-left: 50px; text-align:right; }
form{ margin-right: -104px; margin-top: 20px; }
label{
	font-family: arial;
	/*text-transform: uppercase;*/
	font-size: 12px;
	font-weight: bold;
}
.txtfld{
	width: 250px;
	height: 22px;
	border-radius: 5px;
	background: #EEE;
	border: 1px solid #333;
	box-shadow: inset 0px 1px 8px #CCC;
	-moz-box-shadow: inset 0px 1px 8px #CCC;
	-webkit-box-shadow: inset 0px 1px 8px #CCC;
}
.emailfld{
	width: 250px;
	height: 22px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #EEE;
	border: 1px solid #333;
	box-shadow: inset 0px 1px 8px #CCC;
	-moz-box-shadow: inset 0px 1px 8px #CCC;
	-webkit-box-shadow: inset 0px 1px 8px #CCC;
}
#form-container select{
	width: 162px;
	height: 27px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #EEE;
	border: 1px solid #333;
	box-shadow: inset 0px 1px 8px #CCC;
	-moz-box-shadow: inset 0px 1px 8px #CCC;
	-webkit-box-shadow: inset 0px 1px 8px #CCC;
}
textarea{ width: 250px;	height: 115px; }
.button{
	width: 63px;
	height: 23px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: #EEE;
	border: 1px solid #333;
	font-family: arial;
	font-weight: bold;
	text-transform: uppercase;
	color: #323945;
	cursor: pointer;
	font-size: 11px;
}
.button:hover{ background: #ddd; }
#contact-form td{ text-align: right; padding-top:5px; padding-left: 10px; }
#contact-form p{ margin:0; }	
/*end of contact us page*/

/* Our base Custom Style */
.sidebar-nav { padding: 9px 0; }
.left{ float:right; }
.right{ float:left; }
img.left{ margin: 10px 20px 0 0; }
img.right{ margin: 10px 0 0 20px; }
.text-plugin{margin-left:0;}
.tab-pane h2{ font-family: cartoon; font-size:18px; color:#383578; background: #fff; text-align: right; }
.tab-pane h4{ font-family:Arial, Helvetica, sans-serif; font-size:14px; font-weight:bold; color: #383578; text-align: right; }
.site-info h2{ font-family: cartoon; font-size:18px; color:#383578; background: #fff; text-align: right; }
.subscribe h4{ font-family:Arial, Helvetica, sans-serif; }
/* end of our base Custom Style */

/* Our in-line Custom Styles */
.queen-bee-position{ position:absolute; width: 90px; margin-top: -48px; }
.buzze-bee-position{ position:absolute; width: 117px; margin-top: -45px; }
.honey-bee-position{ position:absolute; width: 90px; margin-top: -51px; }
.header-margin{ margin-bottom: 23px; }
.lang-font{ font-weight:normal; }
#nav-margin80{ margin:80px 0px 0px 0px; }
.bg-color{ background:#fff; }
.footer-color{ background: white; }
.follow-align{ text-align:right; font-size: 12px; font-weight: bold; }
#googleMap{ height:250px; width:1024px; margin-top:12px; }
.gallery-img-height{ height: 100px; }
#tablist{ text-align: center; margin-bottom: 2px; }
#tab-content{ min-height: 350px; }
.controls input { height: auto; }
/* end of our in-line Custom Styles */