 @font-face {
	font-family: 'cartoon';
	src: url('Cartoon_Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
/* Shafshak CSS */
body {
  margin: 0;
  font-family: arial;
  font-size: 14px;
  line-height: 20px;
  color: #220f47;
  background-color: #ffffff;
}
a{
	cursor:pointer;
}
h1,
h2,
h1 small,
h2 small{
	font-family: cartoon;
	color: #FFE800;
	background: #393678;
	
}
h2 ,h2 small{
		padding: 0px 45px;
}
h4,h5{
	text-align:center;
	font-weight:normal;
}
img{
	display: block;
    margin-left: auto;
    margin-right: auto
}
.social{
	display: inline;
}
.row-fluid .span12 {
	width: 100%;
	margin-left: 0;
}

p{
	text-align: justify;
	margin: 15px;
}
.up60{
	margin-top: 60px;
}

.bg{
	background: #393678;
	width:100%;
	min-width: 1024px;
}

.header ,.header a{
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
	padding-right: 1px;
	 color: #ffe800;
}
.header a:hover{
	 color: #fff;
}
#logo {
	float: left;
	margin-top: 10px;
	margin-left:-90px;

}
#kidsarea{
	float:right;
}
#language {
	float: right;
	margin-right: 20px;
	margin-top: 15px;
	color: #FFE800;
}
.navpills, .dropdown-menu  {
	background:transparent;
	box-shadow:0px 0px 0px transparent;
	-webkit-box-shadow:0px 0px 0px transparent;
	-moz-box-shadow:0px 0px 0px transparent;
	border:0;
}
.navbar .nav > li > a {
padding: 0px 10px 0px 15px;
}
.dropdown-menu  li{
	float:left;
}
.dropdown-menu  li a{
	font-family:cartoon;
	font-size:15px;
	padding: 5px 16px;
}
.navbar .nav > li > .dropdown-menu::after, .navbar .nav > li > .dropdown-menu::before{
	border:0;
}
.btn{
	color:#220F47;
}
#footer  td{
	padding: 10px;
}
#footer  p{
	text-align:center;
	font-size:12px;
	font-weight:bold;
	margin:0;
}
#footer  a{
	font-size:12px;
	font-weight:bold;
}
#footer  a:hover {
color: #F10303;
}