{% load i18n cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% page_attribute page_title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">

    {% get_current_language_bidi as LANGUAGE_BIDI %}

    {% addtoblock "css" %}<link href="/static/css/{% if LANGUAGE_BIDI %}rtl-{% endif %}bootstrap.css" rel="stylesheet">{% endaddtoblock %}
    {% addtoblock "css" %}<link href="/static/css/{% if LANGUAGE_BIDI %}rtl-{% endif %}bootstrap-responsive.css" rel="stylesheet">{% endaddtoblock %}
    {% addtoblock "css" %}<link href="/static/css/{% if LANGUAGE_BIDI %}rtl-{% endif %}style.css" rel="stylesheet">{% endaddtoblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    {% addtoblock "js" %}
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    {% endaddtoblock %}

    {% block favicon %}
      <!-- Le fav and touch icons -->
      <link rel="shortcut icon" href="/static/ico/billybeez-ico.png">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    {% endblock favicon %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% addtoblock "js" %}<script src="/static/js/jquery.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap.min.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-transition.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-alert.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-modal.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-dropdown.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-scrollspy.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-tab.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-tooltip.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-popover.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-button.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-collapse.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-carousel.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-typeahead.js"></script>{% endaddtoblock %}

    <!-- Tabs Control js -->
    {% addtoblock "js" %}
        <script>
            $(function () {
                $('#tablist a:first').tab('show');
            })

            $('#tablist a').live('click', function (e) {
                e.preventDefault();
                tab_id = '#tab-' + $(this).attr('id');
                // load tab contant if tab is empty
                if( !$.trim( $(tab_id).html() ).length ) {
                    $.get( $(this).attr('link'), function(data){
                        $(tab_id).html(data);
                    });
                }
                $(this).tab('show');
            });
        </script>
    {% endaddtoblock %}

    {% render_block "css" %}
    {% render_block "js" %}
  </head>

  <body>
    {% cms_toolbar %}
    {% block header %}
      <div class="bg">
        <div class="container header-margin">
          <a href="{% page_url "homepage" %}"><img id="logo"src="{{ STATIC_URL }}img/logo.png" alt=""/></a>
          <div id="language" class="header">
            {% get_available_languages as languages %}
            {% for lang_code, lang_name in languages %}
              <a href="{% page_language_url lang_code %}" class="lang-font">
                {{ lang_name }}
              </a>
              {% if not forloop.last %}  |  {% endif %}
              {% endfor %}
          </div>

          {% block nav-menu %}
          <div class="navbar">
            <ul class="nav" id="nav-margin80">
                {% show_menu 0 100 100 100 "menu.html" %}
            </ul>
          </div>
          {% endblock nav-menu %}
          <a href=""><img id="kidsarea" src="{{ STATIC_URL }}img/kidsarea.png" alt=""/></a>
        </div>
      </div>
    {% endblock header %}

    <div id="bodyBg">
      <div class="container-fluid bg-color">
            {% block content %}
            {% endblock content %}

            {% block footer %}  
              <div class="bg">
                <div class="container footer-color" id="footer">
                    <img align="center" src="{{ STATIC_URL }}img/separator_1.png" alt="">
                    <table align="center">
                      <tr>
                      <td><a href="">{% trans "About Billy Beez" %}</a></td><td>|</td>
                      <td><a href="">{% trans "Terms &amp; Conditions" %}</a></td><td>|</td>
                      <td><a href="">{% trans "Privacy Policy" %}</a></td><td>|</td>
                      <td><a href="">{% trans "Site Map" %}</a></td><td>|</td>
                      <td><a href="">{% trans "Contact Us" %}</a></td>
                      </tr>
                    </table>
                    <p> {% trans "All rights reserved 2012  Billy Beez" %}</p>
                    <div class="offset8">
                      <span class="follow-align">{% trans "Follow Us:" %}</span>
                      <span>
                        <a href=""><img class="social" src="{{ STATIC_URL }}img/facebook.png"/></a>
                        <a href=""><img class="social" src="{{ STATIC_URL }}img/twitter.png"/></a>
                        <a href=""><img class="social"src="{{ STATIC_URL }}img/youtube.png"/></a>
                      </span>
                    </div>
                    <br />
                </div>
              </div>
      </div>
      {% endblock footer %}
    </div>
  </body>
</html>
