{% load cms_tags menu_tags sekizai_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% page_attribute page_title %}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="description" content="{% page_attribute meta_description %}"/>
    <meta name="keywords" content="{% page_attribute meta_keywords %}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="">
    
    <!-- Le styles -->
    {% addtoblock "css" %}<link href="/static/css/bootstrap.css" rel="stylesheet">{% endaddtoblock %}
    {% addtoblock "css" %}<link href="/static/css/bootstrap-responsive.css" rel="stylesheet">{% endaddtoblock %}
    {% addtoblock "css" %}<link href="/static/css/style.css" rel="stylesheet">{% endaddtoblock %}

    {% addtoblock "css" %}
      <style type="text/css">
        .sidebar-nav {padding: 9px 0;}
        .left{ float:left;}
        .right{ float:right;}
        img.left{margin: 10px 20px 0 0;}
        img.right{margin: 10px 0 0 20px;}
        .text-plugin{margin-left:0;}
        .tab-pane h2{
                font-family: "Cartoon";
                font-size:18px;
                color:#383578;
                background: #fff;
                text-align: left;
        }
        .tab-pane h4{
                font-family:Arial, Helvetica, sans-serif;
                font-size:14px;
                font-weight:bold;
                color: #383578;
                text-align: left;
        }
        .subscribe h4{
          font-family:Arial, Helvetica, sans-serif;
        }
      </style>
    {% endaddtoblock %}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    {% addtoblock "js" %}
      <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
    {% endaddtoblock %}

    {% block favicon %}
      <!-- Le fav and touch icons -->
      <link rel="shortcut icon" href="/static/ico/favicon.ico">
      <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/static/ico/apple-touch-icon-144-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/ico/apple-touch-icon-72-precomposed.png">
      <link rel="apple-touch-icon-precomposed" href="/static/ico/apple-touch-icon-57-precomposed.png">
    {% endblock favicon %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% addtoblock "js" %}<script src="/static/js/jquery.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap.min.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-transition.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-alert.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-modal.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-dropdown.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-scrollspy.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-tab.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-tooltip.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-popover.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-button.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-collapse.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-carousel.js"></script>{% endaddtoblock %}
    {% addtoblock "js" %}<script src="/static/js/bootstrap-typeahead.js"></script>{% endaddtoblock %}

  {% addtoblock "js" %}
      <script>
          $(function () {
              $('#tablist a:first').tab('show');
          })

          $('#tablist a').live('click', function (e) {
              e.preventDefault();
              tab_id = '#tab-' + $(this).attr('id');
              // load tab contant if tab is empty
              if( !$.trim( $(tab_id).html() ).length ) {
                  $.get( $(this).attr('link'), function(data){
                      $(tab_id).html(data);
                  });
              }
              $(this).tab('show');
          });
      </script>
  {% endaddtoblock %}

  {% render_block "css" %}
  {% render_block "js" %}
  </head>

  <body>
    {% cms_toolbar %}
    {% block header %}
      <div class="bg">
        <div class="container" style="margin-bottom: 23px;">
          <img id="logo"src="{{ STATIC_URL }}img/logo.png" alt=""/>
          <div id="language" class="header">  
              <a style="font-weight:normal;"> عربي</a>  |   <a> English</a>
          </div>
          {% block nav-menu %}
          <div class="navbar">
            <ul class="nav" style="margin:80px 0px 0px 0px;">
                {% show_menu 0 100 100 100 "menu.html" %}
              </ul>
          </div>
          {% endblock nav-menu %}
          <img id="kidsarea" src="{{ STATIC_URL }}img/kidsarea.png" alt=""/>
        </div>
      </div>
    {% endblock header %}

    <div id="bodyBg">
      <div class="container-fluid" style="background:#fff;">
            {% block content %}
            {% endblock content %}

            {% block footer %}  
              <div class="bg">
                <div class="container" id="footer" style="background: white;">
                    <img align="center" src="{{ STATIC_URL }}img/separator_1.png" alt="">
                    <table align="center">
                      <tr>
                      <td><a href="">About Billy Beez</a></td><td>|</td>
                      <td><a href="">Terms &amp; Conditions</a></td><td>|</td>
                      <td><a href="">Privacy Policy</a></td><td>|</td>
                      <td><a href="">Site Map</a></td><td>|</td>
                      <td><a href="">Contact Us</a></td>
                      </tr>
                    </table>
                    <p> All rights reserved 2012  Billy Beez</p>
                    <div class="offset9">
                    <p style="text-align:left;">Follow Us:</p>
                      <a href=""><img class="social" src="{{ STATIC_URL }}img/facebook.png"/></a>
                      <a href=""><img class="social" src="{{ STATIC_URL }}img/twitter.png"/></a>
                      <a href=""><img class="social"src="{{ STATIC_URL }}img/youtube.png"/></a>
                    </div>
                  </div>
                </div>
              </div>
            {% endblock footer %}
      </div>
    </div>

  </body>
</html>