{% extends 'base.html' %}
{% load cms_tags %}

{% block content %}
  <div class="row-fluid">
      {% placeholder 'content_top' %}
  </div>
  
  <div class="row-fluid">
      {% placeholder 'content_center' %}
  </div><!--/row-fluid-->
  
  <div class="row-fluid up60">
	<div class="span4" data-original-title="">
		<div class="span12">
		<img style="position:absolute;width: 90px;margin-top: -48px;" src="{{ STATIC_URL }}img/queen-bee.png" alt=""/>
			{% placeholder 'block_left' %}
		</div>
	</div>	

	<div class="span4" data-original-title="">
		<div class="span12">
		<img style="position:absolute;width: 117px;margin-top: -45px;" src="{{ STATIC_URL }}img/buzze-bee.png" alt=""/>
			{% placeholder 'block_middle' %}
		</div>
	</div>

	<div class="span4" data-original-title="">
		<div class="span12">
		<img style="position:absolute;width: 90px;margin-top: -51px;" src="{{ STATIC_URL }}img/honey-bee.png" alt=""/>
  		{% placeholder 'block_right' %}
		</div>
	</div>
  </div><!--/row-fluid-->
{% endblock %}
