{% extends 'base.html' %}
{% load cms_tags %}

{% block content %}

<div class="row-fluid">
	<!-- Put your Jquery Slider -->
	{% placeholder 'content_top' %}
</div>

<div class="row-fluid" data-original-title="">
	<div class="span12">
		<!-- Put your Titled Text -->
		{% placeholder 'content_center' %}
	</div>
	<img align="center" src="{{ STATIC_URL }}img/separator_1.png" alt="">
</div>

<div class="row-fluid up60">
	<div class="span4" data-original-title="">
			<img style="position:absolute;width: 90px;margin-top: -48px;"src="{{ STATIC_URL }}img/queen-bee.png" alt=""/>
			{% placeholder 'block_left' %}
	</div>
	
	<div class="span4" data-original-title="">
			<img style="position:absolute;width: 117px;margin-top: -45px;" src="{{ STATIC_URL }}img/buzze-bee.png" alt=""/>
			{% placeholder 'block_middle' %}
	</div>
	
	<div class="span4" data-original-title="">
			<img style="position:absolute;width: 90px;margin-top: -51px;" src="{{ STATIC_URL }}img/honey-bee.png" alt=""/>
			{% placeholder 'block_right' %}
			<!--
				<h2><small>IOS Games</small></h2>
				<img src="images/game-img.jpg" style="margin: 20px 20px 0px 20px;" alt=""/>
				<h5 style="text-align:center;">Download Billy Beez IOS Games</h5>
				<a><img src="images/download.png"/></a>
			-->
	</div>
</div> <!--/row-fluid up60 -->

<div class="row-fluid subscribe">	
	<h4>Subscribe To Our Newsletter</h4>	
	<form class="form-inline" id="newsletterform" method="post">
	  <input type="text" class="input-large" placeholder="Email">
	  <button type="button" class="btn" onclick="newsletter()">Subscribe</button>
	</form>	
</div>

{% endblock %}