{% extends 'base.html' %}
{% load cms_tags %}

{% block content %}

<div class="row-fluid">
    <div class="container plan_main_img">
	   {% placeholder 'content_top' %}
    </div>
</div>

<div class="row-fluid" data-original-title="">
    {% placeholder 'content_center' %}
	<img align="center" src="{{ STATIC_URL }}img/separator_1.png" alt="">
</div>

<!--tabs group section -->
<center>
<div class="tabbable span9 offset3 tabs-widget">
    <ul class="nav nav-tabs" id="tablist" style="text-align: center;margin-bottom: 2px;">
        {% for tab in request.current_page.children.all %}
            <li>
                <a href="#tab-{{ tab.get_slug }}" link="{{ tab.get_absolute_url }}" id="{{ tab.get_slug }}" data-toggle="tab">{{ tab.get_title }}</a>
            </li>
        {% endfor %}
    </ul>
    
    <div class="span10 tab-content">
        {% for tab in request.current_page.children.all %}
            <div id="tab-{{ tab.get_slug }}" class="row-fluid tab-pane">
                {% if forloop.first %}
                    {% show_placeholder 'content_tab' tab.id %}
                {% endif %}
            </div>
        {% endfor %}
    </div> <!-- end of tab-content -->
</div> <!--end of tabs group section -->
</center>
{% endblock %}

